.h2{
    text-transform:initial;
    font-size: 40px;
}
.block{
    border: 3px solid rgb(43, 16, 196);
    width: 400px;
    height: 370px;
    margin: 75px auto;
    background-color:pink;
    border-radius: 20px;   
    /* border-image: url(/images/heart.jpg);  */
    padding: 20px;
}
.block h2{
    text-align: center;
    text-shadow: 5px;
}
.block label{
    font-size: 20px;
    color: black;
}
.block input{
    width: 100%;
    border: 1px solid black;
    display: block;
    border-radius: 8px;
    font-size: 1.2em;
    padding:10px;
    margin: 5px 0px 15px 0px;
    box-sizing: border-box;
    
}
button {
    background-color: rgb(83, 144, 83);
    font-size: 21px;
    margin:15px 60px 10px 50px;
    border-radius: 8px;
}
#result
{
    margin-top: 15px;
    font-size: 2.5em;
    text-align: center;
}
#song{
  display:grid;
  place-items:center;
}
h1{
    color: pink;
}
